<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Whoa</title>
        <script src="./js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="js-tile-info-cntr modal-bg closed">
            <div class="modal js-tile-info-modal">
                <div class="modal__header">Tile Info</div>
                <div class="tile-info js-tile-info">
                    <div class="tile-info__data js-tile-owner">Owner:</div>
                    <div class="tile-info__data js-crop"></div>
                    <div class="tile-info__data js-sale-info"></div>
                    <div class="tile-info__data js-traders"></div>
                </div>
            </div>
        </div>
        <canvas id="canvas"></canvas>
        <div class="control-bar">
            <div class="zoom-btn js-zoom-in">+</div>
            <div class="zoom-btn js-zoom-out">-</div>
        </div>
    </body>
</html>
